// $size - in pixels
// return rem size
@function calculateRem($size, $base-size: 16px) {
  $remSize: $size / $base-size;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: calculateRem($size);
}

@mixin line-height($line-height) {
  line-height: calculateRem($line-height);
}

@mixin font($font-size, $line-height: $font-size * 1.3) {
  @include font-size($font-size);
  @include line-height($line-height);
}

// inline block
@mixin block-align($display: "inline-block", $vertical: "top") {
  display: #{$display};
  vertical-align: #{$vertical};
}

@mixin clerafix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

