// --- COLOR SCHEME ---
$black-1: #000;
$black-2: #221f1f;
$black-3: #444;
$black-4: #241f20;
$white-1: #fff;
$white-2: #f1f1f1;
$white-3: #ececec;
$white-4: #d3d2d2;
$grey-1:  #c7c7c7;
$grey-2:  #ccc;
$grey-3:  #fafafa;
$grey-5:  #e5e5e5;
$green-1: #62d1ba;
$green-2: #6bc5b3;
$green-3: #63d1bb;
$green-4: #56c3b2;
$green-5: #46c1ae;


// --- font colors ---
$color-fnt-main: $black-1;
$color-fnt-text: $black-3;
$color-fnt-invert: $white-1;
$color-fnt-alternative: $green-1;
$color-fnt-placeholder: $grey-1;
$color-fnt-metro: $green-2;
$color-fnt-copyright: $black-2;
$color-fnt-header: $black-4;


// --- background colors ---
$color-bg-main: $white-1;
$color-bg-header: $white-2;
$color-bg-footer: $white-2;
$color-bg-accessories: $green-3;
$color-bg-toys: $green-4;
$color-bg-play-btn: $green-1;
$color-border-btn: $black-2;
$color-bg-arrow: $black-1;
$color-bg-index-header: $grey-3;

// --- border colors ---
$color-curly-line: $white-2;
$color-top-menu-separator: $white-3;
$color-btn-border: $black-3;
$color-underline: $green-1;
$color-socials-separator: $grey-5;

// --- icon colors ---
$color-icon-top-menu: $white-4;
$color-icon-burger: $black-2;
$color-icon-buy: $grey-2;
$color-icon-video-camera: $green-3;
$color-icon-socials: $black-2;
$color-icon-academy-logo: $green-3;
$color-icon-main-logo: $black-1;
$color-form-phone: $grey-2;
$color-icon-email: $grey-2;
$color-icon-about-field: $green-3;
$color_icon-logo-hover: $grey-5;
$color-icon-academy-hover: $green-5;

// --- BREAK POINTS ----
$mobile-width: "(min-width: 320px)";
$tablet-width: "(min-width : 768px)";
$desktop-width: "(min-width : 1150px)";

$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";


  // --- TYPOGRAPHY ---

$font-verdana: Verdana, Geneva, Arial, sans-serif;
$font-open-sans: "Open Sans", Arial, Helvetica, sans-serif;
$font-tahoma: Tahoma, Arial, Helvetica, sans-serif;

$fnt-text-size: 14px;
$line-h-text: 24px;

$fnt-base-size: 16px;
$line-h-base-size: 24px;

$fnt-big: 24px;
$line-h-big: 30px;


// --------------- non standard font params ----------

$fnt-index-header-text: 18px;

$line-h-best-seller: 16px;

$line-h-params-table: 20px;

$line-h-btn: 16px;

$line-h-about-item: 20px;

$fnt-copyright: 18px;
$line-h-copyright: 18px;

$line-h-form-descr: 26px;

$fnt-form-field: 17px;
$line-h-form-field: 19px;

$fnt-form-title: 17px;
$line-h-form-title: 17px;

$fnt-footer: 18px;
$line-h-footer: 18px;


















