

// --- COLOR SCHEME ---
$black-1: #000;
$black-2: #221f1f;
$black-3: #444;
$white-1: #fff;
$white-2: #f1f1f1;
$white-3: #ececec;
$white-4: #d3d2d2;
$grey-1:  #c7c7c7;
$grey-2:  #ccc;
$green-1: #62d1ba;
$green-2: #6bc5b3;
$green-3: #63d1bb;
$green-4: #56c3b2;


// --- font colors ---
$color-fnt-main: $black-1;
$color-fnt-invert: $white-1;
$color-fnt-alternative: $green-1;
$color-fnt-placeholder: $grey-1;
$color-fnt-metro: $green-2;


// --- background colors ---
$color-bg-main: $white-1;
$color-bg-header: $white-2;
$color-bg-footer: $white-2;
$color-bg-accessories: $green-3;
$color-bg-toys: $green-4;
$color-bg-play-btn: $green-1;
$color-bg-arrow: $black-1;

// --- border colors ---
$color-curly-line: $white-2;
$color-top-menu-separator: $white-3;
$color-btn-border: $black-3;
$color-underline: $green-1;

// --- icon colors ---
$color-icon-top-menu: $white-4;
$color-icon-burger: $black-2;
$color-icon-buy: $grey-2;
$color-icon-video-camera: $green-3;
$color-icon-socials: $black-2;
$color-icon-academy-logo: $green-3;
$color-icon-main-logo: $black-1;
$color-form-phone: $grey-2;
$color-icon-email: $grey-2;
$color-icon-about-field: $green-3;



