

// --- COLOR SCHEME ---
$black-1: #000;
$black-2: #221f1f;
$black-3: #444;
$white-1: #fff;
$white-2: #f1f1f1;
$white-3: #ececec;
$white-4: #d3d2d2;
$grey-1:  #c7c7c7;
$grey-2:  #ccc;
$green-1: #62d1ba;
$green-2: #6bc5b3;
$green-3: #63d1bb;
$green-4: #56c3b2;


// --- font colors ---
$color-fnt-main: $black-1;
$color-fnt-invert: $white-1;
$color-fnt-alternative: $green-1;
$color-fnt-placeholder: $grey-1;
$color-fnt-metro: $green-2;


// --- background colors ---
$color-bg-main: $white-1;
$color-bg-header: $white-2;
$color-bg-footer: $white-2;
$color-bg-accessories: $green-3;
$color-bg-toys: $green-4;
$color-bg-play-btn: $green-1;
$color-bg-arrow: $black-1;

// --- border colors ---
$color-curly-line: $white-2;
$color-top-menu-separator: $white-3;
$color-btn-border: $black-3;
$color-underline: $green-1;

// --- icon colors ---
$color-icon-top-menu: $white-4;
$color-icon-burger: $black-2;
$color-icon-buy: $grey-2;
$color-icon-video-camera: $green-3;
$color-icon-socials: $black-2;
$color-icon-academy-logo: $green-3;
$color-icon-main-logo: $black-1;
$color-form-phone: $grey-2;
$color-icon-email: $grey-2;
$color-icon-about-field: $green-3;


// --- TYPOGRAPHY ---

$font-verdana: "Verdana", sans-serif;
$font-

$fnt-burger-menu: 16px;
$line-h-burger-menu: 24px;

$fnt-index-header-title: 24px;
$line-h-index-header-title: 30px;

$fnt-index-header-text: 18px;
$line-h-index-header-text: 24px;

$fnt-item-post-title: 24px;
$line-h-item-post-title: 30px;

$fnt-best-seller: 16px;
$line-h-best-seller: 16px;


$fnt-post-descr: 14px;
$line-h-post-descr: 24px;


$fnt-params-table: 14px;
$line-h-params-table: 20px;

$fnt-price: 16px;
$line-h-price: 24px;

$fnt-btn: 16px;
$line-h-btn: 16px;


$fnt-about-title: 24px;
$line-h-about-title: 30px;

$fnt-about-item: 16px;
$line-h-about-item: 20px;


$fnt-review-title: 24px;
$line-h-review-title: 30px;

$fnt-review-text: 14px;
$line-h-review-text: 30px;

$fnt-review-author: 14px;
$line-h-review-author: 24px;

$fnt-review-nick: 14px;
$line-h-review-nick: 30px;

$fnt-contacts-title: 24px;
$line-h-contacts-title: 30px;

$fnt-contacts-info: 14px;
$line-h-contacts-info: 30px;

$fnt-copyright: 18px;
$line-h-copyright: 18px;


$fnt-header: 24px;
$line-h-header: 30px;

$fnt-product-post-title: 16px;
$line-h-product-post-title: 24px;

$fnt-product-post-descr: 14px;
$line-h-product-post-descr: 30px;


$fnt-product-post-price: 14px;
$line-h-product-post-price: 24px;


$fnt-video-descr: 14px;
$line-h-video-descr: 24px;


$fnt-form-descr: 15px;
$line-height: 26px;

$fnt-form-field: 17px;
$line-h-form-field: 19px;

$fnt-form-title: 17px;
$line-h-form-title: 17px;


















