.container {
  margin: 0 auto;
  padding: 0px 29px;

  @media #{$tablet-width}{
    /* 1050px * 0.91 ~= 955px (центровка начнётся чуть раньше 1050px) */
    width: 87%;
    padding: 0 50px;
  }

  @media #{$desktop-width} {
    width: 91%;
    max-width: 1050px;
  }
}
