.container {
  width: 260px;
  margin: 0px auto;
  padding: 0 30px;

  @media #{$tablet-size-condition} {
    margin: 20px auto;
  }


  @media #{$laptop-size-condition} {
    margin: 20px auto;
  }

}
