body {
  font-family: $font-open-sans;
  font-size: $fnt-base-size;
  font-weight: normal;
  font-style: normal;
  line-height: $line-h-base-size;
  background: $color-bg-main;
  color: $color-fnt-main;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-sytle: none;
}

a {
  text-decoration: none;
  color: $color-fnt-main;
}

button {
  border: none;
  outline: none;
}


// for proper  color changing in svg
svg, svg * {
  fill: inherit;
  stroke: inherit;
}
