.about {
  // TODO replace with wavy border
  border-top: 1px solid $color-border-btn;

  &__title {
    font-family: $font-verdana;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 0;

    @include font($fnt-about-title, $line-h-about-title);
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item-icon {
    display: block;
    fill: $color-icon-about-field;
  }

  &__item-text {
    font-family: $font-verdana;
    font-weight: bold;

    @include font($fnt-about-item, $line-h-about-item);
  }
}
