.about {
  position: relative;
  padding-top: 35px;


  // wavy border
  &::after {
    position: absolute;
    top: -25px;
    left: 0px;
    height: 39px;
    width: 100%;
    content: '';
    background-image: url("./../img/wavy-border-gray.png");
    background-repeat: repeat-x;
    background-position: -9px 2px;
    background-size: 39px 23px;
    z-index: 20;
  }
}

.about__title {
  font-family: $font-verdana;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;

  @include font($fnt-big, $line-h-big);
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__item-icon {
  height: 80px;
  display: block;
  fill: $color-icon-about-field;
}

.about__item-text {
  font-family: $font-verdana;
  font-weight: bold;

  @include font($fnt-base-size, $line-h-about-item);
}



@media #{$tablet-size} {
  .about__list {
    font-size: 0;
  }

  .about__item {
    @include block-align();
    width: 50%;
  }

  .about__item-text {
    padding-bottom: 50px;
  }

}

@media #{$laptop-size} {

  .about__title {
    @include font(50px, 57px);
    padding-left: 16.7%;
  }
  .about__list {
    margin-right: 16.7%;
    margin-left: 16.7%;
  }

  .about__item {
    width: 35%;
    padding-right: 15%;
  }
}
