.about {
  position: relative;
  padding-top: 8px;
  padding-bottom: 45px;

  &::after,
  &::before {
    content: '';
    position: absolute;
    height: 39px;
    width: 100%;
    background-image: url('../img/wavy-border-gray.png');
    background-repeat: repeat-x;
    background-position: -2px 12px;
    background-size: 16px;
  }

  // wavy border
  &::after {
    top: -25px;
    left: 0px;
  }

  // wavy border
  &::before {
    bottom: 18px;
    left: 0px;
  }
}

.about__title {
  font-family: $font-verdana;
  font-weight: bold;
  @include font($fnt-big, $line-h-big);
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__item {
  position: relative;
  padding-bottom: 15px;
  padding-top: 68px;
}

.about__item-icon {
  position: absolute;
  display: block;
  fill: $color-icon-about-field;
  top: 17px;
  left: 5px;
  width: 38px;
  height: 38px;

  &--feature-2 {
    width: 34px;
    height: 34px;
    top: 20px;
  }

  &--feature-3 {
    width: 46px;
    height: 40px;
    top: 11px;
    left: 0px;
  }

  &--feature-4 {
    width: 56px;
    height: 56px;
    left: -7px;
    top: 5px;
  }

  &--feature-5 {
    width: 34px;
    heigth: 34px;
    left: 7px;
    top: 18px;
  }

  &--feature-6 {
    width: 34px;
    height: 34px;
    left: 2px;
  }
}

.about__item-text {
  font-family: $font-verdana;
  font-weight: bold;
  @include font($fnt-base-size, $line-h-about-item);
}

@media #{$tablet-width} {

  .about {
    padding-top: 22px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 85%;

    &::after,
    &::before {
      background-size: 39px;
      background-position: 6px 13px;
    }
  }

  @media #{$retina}  {
    .about {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .about .form__type-wrapper {
    margin-bottom: 75px;
  }

  .about__list {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 51px;
  }

  .about__title {
    @include font(40px, 50px);
    margin-bottom: 34px;
  }

  .about__item {
    flex: 1 0 49%;
    padding-right: 1%;
    margin-bottom: 23px;
    padding-top: 65px;

    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 3;
    }

    &:nth-of-type(3) {
      order: 5;
    }

    &:nth-of-type(4) {
      order: 2;
    }

    &:nth-of-type(5) {
      order: 4;
    }

    &:nth-of-type(6) {
      order: 6;
    }
  }

  .about__item-text {
    padding-top: 5px;
    @include font(20px, 24px);
  }
}

@media #{$desktop-width} {
  .about {
    background: $color-bg-main;
    background-image: none;
    padding-top: 26px;

    &::after,
    &::before {
      background-size: 58px;
      background-position: 22px 0px;
    }

    // wavy border
    &::after {
      top: -15px;
      left: 0px;
    }

    // wavy border
    &::before {
      bottom: 5px;
      left: 0px;
    }
  }

  .about .container {
    padding-top: 40px;
  }

  .about__title {
    width: 67%;
    margin: 0px auto 35px auto;
    @include font(50px, 57px);
  }

  .about__list {
    width: 66.67%;
    margin: 0 auto;
    padding-bottom: 52px;
  }

  .about__item {
    padding-top: 64px;
    margin-bottom: 22px;
  }

}
