.btn {
  font-family: $font-open-sans;
  font-weight: bold;
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  text-decoration: none;
  color: $color-fnt-main;
  border: 2px solid $color-border-btn;

  @include font($fnt-base-size, $line-h-btn);
}
