.btn {
  font-family: $font-open-sans;
  font-weight: bold;
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-fnt-text;
  border: 2px solid $color-border-btn;


  @include font($fnt-base-size, $line-h-btn);


  &:hover {
    background: $black-2;
    color: $color-fnt-invert;
  }

  &:active {
    color: #8d8d8d;
  }
}
