.catalog-content {
}


.catalog-content .container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  padding-bottom: 90px;
}


@media #{$tabet-width} {
  .catalog-content .container {
    padding-bottom: 62px;
  }
}

@media #{$desktop-width} {
  .catalog-content .container {
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 104px;
  }
}
