.catalog-content {
}

.catalog-content .container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding-bottom: 90px;
}

@media #{$tablet-width} {
  .catalog-content .container {
    padding-bottom: 62px;
    margin-top: 72px;
  }
}

@media #{$desktop-width} {
  .catalog-content .container {
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 106px;
    margin-top: 123px;
  }
}
