.catalog-content {
  margin-top: 80px;
}


.catalog-content .container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  padding-bottom: 90px;
}


@media #{$tabet-width} {

}

@media #{$desktop-width} {
  .catalog-content .container {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
