.contacts {
    width: 100%;

  &__title {
    @include font($fnt-contacts-title, $line-h-contacts-title);
  }

  &__info {
    @include font($fnt-contacts-info, $line-h-contacts-info);
  }


  &__map {
    width: 100%;
    min-height: 458px;
    background-image: url("./../img/map-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
