.featured {
  position: relative;
  display: flex;
  padding-bottom: 45px;
  padding-top: 26px;
  flex-flow: row wrap;
}


.featured__title {
  font-family: $font-verdana;
  font-weight: bold;
  margin: 0;
  margin-bottom: 6px;
  color: $color-fnt-main;
  @include font($fnt-big, $line-h-big);
  flex: 0 0 100%;
}

.featured__best-seller {
  font-family: $font-open-sans;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-fnt-alternative;
  @include font($fnt-base-size, $line-h-best-seller);
  margin-bottom: 12px;
}

.featured__image-wrapper {
  flex: 1 0 100%;
  text-align: center;
}

.featured__image {
  width: 100%;
}

.featured__buy {
  flex: 1 0 100%;
}

.featured__price {
  font-family: $font-verdana;
  font-weight: bold;
  font-style: normal;
  padding-top: 18px;
  padding-bottom: 26px;
  text-align: center;
  @include font($fnt-base-size, $line-h-text);
}

@media #{$tabet-width} {

  .featured {
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 18px;
    padding-top: 42px;
  }

  .featured__content-wrapper {
    display: flex;
    flex-flow: row wrap;
    order: 3;
  }

  .featured__title {
    order: 1;
    white-space: nowrap;
    @include font(40px, 50px);
    flex: 0 0 83.7%;
    margin-bottom: 58px;
    z-index: 10;
  }

  .featured__best-seller {
    text-align: center;
    order: 2;
    flex: 0 0 75px;
    padding-right: 26px;
    margin-top: 10px;
  }
  .featured__image-wrapper {
    flex: 0 0 50%;
  }

  .featured__image {
    display: block;
  }


  .featured__buy {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding-right: 45px;
    margin-top: -128px;
    min-height: 128px;
  }

  .featured__price {
    @include font(18px, 24px);
    padding-bottom: 35px;
    padding-left: 10px;
  }

}

@media #{$desktop-width} {

  .featured {
    justify-content: flex-end;
    margin-bottom: 45px;
  }

  .featured__content-wrapper {
    flex: 0 0 83%;
    margin-top: -168px;
  }



  .featured__title {
    @include font(50px, 57px);
    margin-top: 80px;
  }

  .featured__best-seller {
    order: -1;
    padding: 0 50px 0 20px;
    margin-top: 98px;
  }


  .featured__buy {
    padding-right: 60px;
    flex: 0 0 40%;
    margin-top: -124px;
    min-height: 124px;
  }


  .featured__image-wrapper {
    flex: 0 0 60%;
  }

}
