.featured {
  position: relative;
  display: flex;
  padding-bottom: 40px;
  margin-top: 30px;
  flex-flow: row wrap;
}

.featured__title {
  font-family: $font-verdana;
  font-weight: bold;
  margin: 0;
  color: $color-fnt-main;
  @include font($fnt-big, $line-h-big);
  flex: 0 0 100%;
}

.featured__best-seller {
  font-family: $font-open-sans;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-fnt-alternative;
  @include font($fnt-base-size, $line-h-best-seller);
  margin-top: 15px;
}

.featured__image-wrapper {
  flex: 1 0 100%;
  text-align: center;
}

.featured__image {
  width: 100%;

}

.featured__buy {
  flex: 1 0 100%;
}

.featured__price {
  font-family: $font-verdana;
  font-weight: bold;
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  @include font($fnt-base-size, $line-h-text);
}

@media #{$tabet-width} {

  .featured {
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 50px;
  }

  .featured__title {
    order: 1;
    white-space: nowrap;
    @include font(40px, 50px);
    flex: 0 0 83%;
    margin-bottom: 50px;
    z-index: 10;
  }

  .featured__best-seller {
    text-align: center;
    order: 2;
    flex: 0 0 75px;
    padding-right: 30px;
    z-index: 10;

  }

  .featured__buy {
    order: 4;
    flex: 0 0 43%;
    padding-right: 7%;
  }

  .featured__image-wrapper {
    order: 5;
    height: 0px;
    flex: 0 0 50%;
    background: red;
    align-self: flex-end;
    max-width: 630px;
  }

  .featured__image {
   transform: translateY(-100%);
  }

}

@media #{$desktop-width} {


  .featured {
    justify-content: flex-end;
    margin-bottom: 70px;
  }

  .featured__title {
    @include font(50px, 57px);
  }

  .featured__best-seller {
    order: -1;
    padding: 0 50px;
  }

  .featured__buy {
    flex: 0 0 28%;
    padding-right: 50px;
  }

}
