.footer {
  border: 1px solid transparent;
  background: $color-bg-footer;
}

.footer__logo-link {
  display: none;
}

.footer__copyright {
  padding: 30px 0;
  text-align: center;
}

.footer__copyright-icon {
  margin-left: 20px;
  @include block-align();
  fill: $color-icon-academy-logo;
}

.footer__footer__copyright-text {
  font-family: $font-open-sans;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  @include font($fnt-footer, $line-h-footer);
}

@media #{$tabet-width} {
  .footer {
    padding-top: 45px;
    text-align: center;
    @include clerafix();
  }

  .footer__logo-link,
  .footer__copyright {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
  }



  .footer__logo-link {
  }

  .footer__copyright {
    float: right;
    margin: 0;
    padding: 0;
  }
}

@media #{$desktop-width} {
}
