.header {
  background: $color-bg-header;
  border: 1px solid transparent;


  &__title {
    @include font($fnt-header, $line-h-header);
    font-family: $font-verdana;
    font-weight: bold;
    text-align: center;
    padding: 75px 0;
  }
}
