.header {
  border: 1px solid transparent;
  background: $color-bg-header;
  margin-bottom: 25px;
}

.header__title {
  font-family: $font-verdana;
  font-weight: bold;
  margin: 70px 0px 82px 0px;
  text-align: center;
  @include font($fnt-big, $line-h-big);
  color: #231f20;
}

@media #{$tablet-width} {
  .header {
    position: relative;
    // wavy border
    &::after {
      position: absolute;
      bottom: -15px;
      left: 0px;
      height: 39px;
      width: 100%;
      content: '';
      background-image: url('../img/wave.png');
      background-repeat: repeat-x;
      background-position: 2px 2px;
      background-size: 38px 23px;
    }
  }

  .header__title {
    @include font(40px, 50px);
    margin: 51px 0 90px 0;
  }
}

@media #{$desktop-width} {

  .header {
    // wavy border
    &::after {
      bottom: -17px;
      background-position: 0 0;
      background-size: 58px 30px;
    }
  }

  .header__title {
    @include font(50px, 57px);
    margin-bottom: 110px;
  }
}

