.index-header {
  background: $color-bg-header;


  &__title {
    min-height: 300px;
    width: 100%;
    background-image: url("./../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    @include font($fnt-index-header-title, $line-h-index-header-title);

  }

  &__text {
    @include font($fnt-index-header-text, $line-h-index-header-text);
  }
  &__item {

    &--toys {
      background: $color-bg-toys;
    }

    &--accessories {
      background: $color-bg-accessories;
    }
  }
}
