.item-post {
  padding-bottom: 28px;
  border-top: 1px solid transparent;
}

.item-post__descr {
  font-family: $font-open-sans;
  color: $color-fnt-text;
  @include font($fnt-text-size, $line-h-text);
  text-align: left;
  margin-bottom: 17px;
}

.item-post__params {
  font-family: $font-open-sans;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  color: $color-fnt-text;
  @include font($fnt-text-size, $line-h-params-table);
}

.item-post__param-key,
.item-post__param-value {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-top-menu-separator;
}

.item-post__param-value {
  padding-left: 14px;
}

@media #{$tablet-width}
{
  .item-post {
    padding-right: 6%;
    flex: 0 0 44%;
    margin-bottom: 124px;
  }

  .item-post__param-key {
    padding-right: 0px;
  }
  .item-post__params {
    @include font(15px, $line-h-params-table);
  }

  .item-post__descr {
    margin-top: -7px;
    margin-bottom: 34px;
    @include font($fnt-base-size, $line-h-big)
  }

  .item-post__param-value {
    padding-left: 0;
  }
}

@media #{$desktop-width} {

  .item-post {
    padding-right: 6.4%;
    flex: 0 0 33.6%;
  }

  .item-post__descr {
    margin-top: 160px;
    margin-bottom: 50px;
  }

  .item-post__params {
    margin-bottom: 0;
  }

  .item-post__param-key {
    padding-right: 0px;
  }
}
