.item-post {
  &__title {
    font-family: $font-verdana;
    font-weight: bold;
    color: $color-fnt-main;

    @include font($fnt-item-post-title, $line-h-item-post-title);
  }

  &__best-seller {
    font-family: $font-open-sans;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-fnt-alternative;

    @include font($fnt-best-seller, $line-h-best-seller);
  }

  &__descr {
    font-family: $font-open-sans;
    color: $color-fnt-main;

    @include font($fnt-post-descr, $line-h-post-descr);
  }

  &__params {
    font-family: $font-open-sans;
    width: 260px;
    border-collapse: collapse;

    @include font($fnt-params-table, $line-h-params-table);
  }

  &__param-key {
    width: 98px;
  }

  [class*='__param-'] {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-top-menu-separator;
  }

  &__image {
    margin-top: 30px;
  }

  &__price,
  &__price i {
    font-family: $font-verdana;
    font-weight: bold;
    font-style: normal;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    @include font($fnt-price, $line-h-price);
  }

  &__make-order {
    margin-bottom: 30px;

    @include font($fnt-btn, $line-h-btn);
  }
}
