.modal-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  &--closed {
    display: none;
  }
}

.modal-menu__item {
  border-top: 1px solid $color-top-menu-separator;
  margin: 0;

  &:nth-of-type(n + 3) {
    display: none;
  }
}

.modal-menu__link {
  font-family: $font-verdana;
  font-weight: bold;
  display: block;
  padding: 26px 0 26px 23.75%;
  color: $color-fnt-main;
  @include font($fnt-base-size, $line-h-base-size);
  position: relative;
  white-space: nowrap;
  min-height: 24px;
}

@media #{$tabet-width} {
  .modal-menu {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 50%;
    order: 3;
    &--closed {
      // always show
      display: flex;
    }
  }

  .modal-menu__item {
    border: none;
    z-index: 10;
    padding: 18px 30px 0 0;
    margin: 0;
  }

  .modal-menu__link {
    font-family: $font-verdana;
    padding: 0;
    padding-right: 4px;
    @include font($fnt-text-size, $line-h-text);

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media #{$desktop-width} {

  .modal-menu {
    order: 1;
    flex-flow: row wrap;
    flex: 0 0 37%;
    justify-content: flex-start;
  }

  .modal-menu__item {
    box-sizing: border-box;
    width: 50%;
    text-align: left;

    &:first-child {
      border-right: 1px solid $color-top-menu-separator;
    }

    &:nth-of-type(even) {
      padding-left: 28px;
    }

    &:nth-of-type(n + 2) {
      display: block;
    }
  }

  .modal-menu__item {
    padding: 34px 0 30px 0;
  }

  .modal-menu__item:nth-of-type(n + 3) {
    padding-top: 18px;
  }

  .modal-menu__item:nth-of-type(-n + 2) {
    padding-top: 30px;
  }

  .modal-menu__item:nth-of-type(-n + 2) .modal-menu__link {
    @include font($fnt-base-size, $line-h-base-size);
    padding-bottom: 5px;
    padding-right: 10px;
  }
}
