.modal-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background: $color-bg-main;

  &--hidden {
    display: none;
  }
}

.modal-menu__item {
  border-top: 1px solid $color-top-menu-separator;

  &:nth-last-of-type(-n + 2) {
    display: none;
  }
}

.modal-menu__link {
  font-family: $font-verdana;
  font-weight: bold;
  position: relative;
  display: block;
  padding: 28px 0;
  color: $color-fnt-main;

  @include font($fnt-base-size, $line-h-base-size);
}

.modal-menu__icon-search,
.modal-menu__icon-cart {
  position: absolute;
  left: calc(100% * 30/360);
  opacity: .3;
}


@media #{$tablet-size-condition} {
  .modal-menu {
    @include clerafix();
    float: right;
    white-space: nowrap;
  }

  .modal-menu--hidden {
    display: block;
  }

  .modal-menu__item {
    display: inline-block;
    vertical-align: bottom;

    &:nth-last-child(n + 2) {
      display: none;
    }
  }
}

@media #{$laptop-size-condition} {

}
