.modal-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background: $color-bg-main;

  &--hidden {
    display: none;
  }
}

.modal-menu__item {
  border-top: 1px solid $color-top-menu-separator;

  &--new,
  &--sale,
  &--delivery {
    display: none;
  }
}

.modal-menu__item--delivery .modal-menu__link {
  font-weight: normal;
}

.modal-menu__link {
  font-family: $font-verdana;
  font-weight: bold;
  position: relative;
  display: block;
  padding: 28px 0;
  color: $color-fnt-main;
  @include font($fnt-base-size, $line-h-base-size);
}

.modal-menu__icon-search,
.modal-menu__icon-cart {
  position: absolute;
  left: calc(100% * 30 / 360);
  opacity: .3;
}

@media #{$tablet-size} {
  .modal-menu {
    position: absolute;
    right: 50px;
    left: 50px;
    text-align: left;
    border-bottom: none;
    background: none;

    &--hidden {
      display: block;
    }
  }

  .modal-menu__item {
    margin-top: 90px;
    border: none;
    @include block-align();

    &--new,
    &--sale {
      display: none;
    }

    &--delivery {
      position: absolute;
      right: 0;
      text-align: right;
      white-space: nowrap;
    }

    &:last-child .modal-menu__link {
      padding-right: 0;
    }
  }

  .modal-menu__link {
    padding: 20px 30px 20px 0;
    z-index: 10;
  }
}

@media #{$laptop-size} {
  .modal-menu {
    font-size: 0;
    position: static;
    max-width: 460px;
    @include block-align();
  }

  .modal-menu__item {
    margin: 0;
    padding: 0;
    @include block-align();

    &--catalog {
      border-right: 1px solid $color-top-menu-separator;
    }

    &--delivery {
      margin-right: 50px;
    }
  }

  .modal-menu__link {
    width: 165px;
    min-height: 30px;
    padding: 34px 30px 26px 30px;
  }

  .modal-menu__item--delivery .modal-menu__link {
    min-width: 300px;
  }

  .modal-menu__item--new .modal-menu__link,
  .modal-menu__item--sale .modal-menu__link,
  .modal-menu__item--delivery .modal-menu__link {
    padding-top: 15px;
  }
}
