.product-post {
  margin-top: 30px;
}

.product-post__info {
  padding: 0 30px;
  border: 1px solid $color-top-menu-separator;
  overflow: hidden;
}

.product-post__title {
  margin-bottom: 18px;
  position: relative;
}

.product-post__title-link {
  font-family: $font-verdana;
  font-weight: bold;
  color: $color-fnt-main;
  display: block;
  @include font($fnt-base-size, $line-h-text);
}

.product-post__image {
  width: 100%;
  display: block;
}

.product-post__descr {
  font-family: $font-open-sans;
  @include font($fnt-text-size, $line-h-big);
}

.product-post__buy {
  margin-bottom: 0;
  border-top: 1px solid $color-curly-line;
  padding: 26px 0px;
}

.product-post__price {
  font-family: $font-verdana;
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  @include font($fnt-text-size, $line-h-text);
}

.product-post__make-order {
  float: right;
}

.product-post__order-icon {
  opacity: 0.3;
}

@media #{$tabet-width} {
  .product-post  {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 54px;
  }

  .product-post__info {
    padding: 0 30px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 50%;
    box-sizing: border-box;
  }

  .product-post__image-link {
    flex: 1 0 50%;
  }

  .product-post__title {
    margin-bottom: 0;
    @include font(18px, 24px);
  }

  .product-post__descr {
    margin-top: 0;
  }

  .product-post__buy {
    margin-top: auto;
  }
}

@media #{$desktop-width} {
  .product-post {
    flex: 0 0 30%;
    flex-flow: column nowrap;
  }

  .product-post__info {
    flex: 1 0 auto;
  }
}
