.product-post {
  margin-top: 30px;

  &__title {
    margin-bottom: 18px;
    padding-left: 30px;
  }

  &__title-link {
    font-family: $font-verdana;
    font-weight: bold;

    @include font($fnt-product-post-title, $line-h-product-post-title);
  }

  &__descr {
    font-family: $font-open-sans;
    padding-left: 30px;

    @include font($fnt-product-post-descr, $line-h-product-post-descr);
  }

  &__buy {
    margin-right: 30px;
    margin-left: 30px;
  }

  &__price,
  &__price i {
    font-family: $font-verdana;
    font-weight: bold;
    font-style: normal;
    display: inline-block;

    @include font($fnt-product-post-price, $line-h-product-post-price);
    paddin-left: 30px;
  }

  &__order-icon {
    display: inline-block;
    fill: green;
  }
}
