.review {
  padding-bottom: 40px;
  position: relative;
}

.review__item {

}

.review__title {
  font-family: $font-verdana;
  font-weight: bold;
  margin-top: 30px;
  @include font($fnt-big, $line-h-big);
}

.review__list {
  list-style: none;
}

.review__text {
  font-family: $font-open-sans;
  @include font($fnt-text-size, $line-h-big);
}

.review__author {
  font-family: $font-open-sans;
  font-weight: bold;
  @include font($fnt-text-size, $line-h-text);
}

.review__nick {
  font-family: $font-open-sans;
  font-weight: normal;
  margin-bottom: 35px;
  @include font($fnt-text-size, $line-h-big);
}

.review__btn {
  margin-top: 38px;
}

@media #{$tabet-width} {

  .review {
    margin-left: -50px;
    margin-top: 10px;
  }

  .review__item {
    background-image: url("./../img/review@1x.jpg");
    background-repeat: no-repeat;
    padding: 0 50px;
  }

  .review__title {
    @include font(40px, 50px);
    position: absolute;
    top: 75px;
    padding-left: 50px;
    margin-top: 0px;
  }

  .review__text {
    padding-top: 184px;
  }

  .review__btn {
    width: 180px;
    position: absolute;
    top: 75px;
    right: 0;
    margin: 0;
  }

  .review__nick {
    margin-bottom: 80px;
  }
}

@media #{$desktop-width} {

  .review {
    margin-left: 0;
  }

  .review__title {
    @include font(50px, 57px);
    left: 16.67%;
    padding-left: 0;
  }

  .review__text {
    padding-left: 16.67%;
  }

  .review__author {
    padding-left: 16.67%;
  }

  .review__nick {
    padding-left: 16.67%;
  }
}
