.slider {
  position: relative;
}

.slider__item {
  width: 100%;
  display: none;

  &--shown {
    display: block;
  }

}

.slider__controls {
  font-size: 0;
  width: 100%;
  min-height: 50px;
  border: 1px solid $color-curly-line;
}

.slider__btn {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  width: 49.9%;
  min-height: 50px;
  vertical-align: top;
  border: 1px solid $color-top-menu-separator;

  &--prev {
    background: url('../img/svg-icons/icon-left-arrow.svg') no-repeat;
    background-position: center;
  }

  &--next {
    background: url('../img/svg-icons/icon-right-arrow.svg') no-repeat;
    background-position: 35px 8px;
  }


  &--prev:hover,
  &--next:hover {
    opacity: 0.6;
  }

  &--prev:active,
  &--next:active {
    opacity: 0.3;
  }
  &--disabled {
    cursor: not-allowed;
    opacity: 0.1 !important;
  }
}

@media #{$tabet-width} {

  .slider {
    position: relative;
  }
  .slider__controls {
    position: absolute;
    right: 0;
    bottom: 164px;
    width: 180px;
    border: none;
  }

  .slider__btn {
    border: none;

    &--next {
      background-position: center;
    }
  }
}

@media #{$desktop-width} {
}
