.slider {
  overflow: hidden;
  position: relative;
}

.slider__inner {
  width: 330%; // 3 times width + padding right 10%
  white-space: nowrap;
}

.slider__item {
  width: 30%;
  padding-right: 5%;
  white-space: normal;
  @include block-align('inline-block', 'bottom');
}

.slider__controls {
  font-size: 0;
  width: 100%;
  min-height: 50px;
  border: 1px solid $color-curly-line;
}

.slider__btn {
  font-size: 20px;
  display: inline-block;
  width: 49.9%;
  min-height: 50px;
  vertical-align: top;
  border: 1px solid $color-top-menu-separator;

  &--prev {
    background: url('./../img/svg-icons/icon-left-arrow.svg') no-repeat;
    background-position: center;
  }

  &--next {
    background: url('./../img/svg-icons/icon-right-arrow.svg') no-repeat;
    background-position: center;
  }
}



@media #{$tablet-size} {


  .slider__controls {
    position: absolute;
    bottom: 80px;
    right: 0;
    width: 180px;
  }

  .slider__btn {
    border: none;
  }



}



@media #{$laptop-size} {

}

