.social-links {
  padding: 26px 0 20px 0;
  text-align: center;
  border-bottom: 1px solid $color-socials-separator;
}

.social-links__item {
  display: inline-block;
  vertical-align: top;
}

.social-links__icon {
  margin-right: 18px;
  margin-left: 12px;
  fill: $color-fnt-text;
  width: 24px;
}

.social-links__link:hover .social-links__icon {
  fill: $color-fnt-alternative;
}

.social-links__link:active .social-links__icon {
  opacity: 0.3;
}

@media #{$tablet-width} {
  .social-links {
    margin: 0;
    padding-top: 0;
    margin-left: 95px;
    @include block-align();
    border-bottom: none;
  }
}
