.social-links {
  padding: 28px 0;
  text-align: center;
  border-bottom: 1px solid $color-socials-separator;
}

.social-links__item {
  display: inline-block;
  vertical-align: top;
}

.social-links__icon {
  margin-right: 20px;
  margin-left: 20px;
  fill: $color-icon-main-logo;
}

@media #{$tabet-width} {
  .social-links {
    margin: 0;
    padding-top: 0;
    @include block-align();
  }
}
