.top-menu {
  background: $color-bg-main;
}

.top-menu__logo-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
}

.top-menu__burger {
  position: absolute;
  top: 30px;
  right: calc(100% * 30 / 360);
  width: 22px;
  height: 22px;
  background-image: url('./../img/svg-icons/icon-menu-open.svg');
  background-repeat: no-repeat;

  &--close {
    background-image: url('./../img/svg-icons/icon-menu-close.svg');
  }
}

@media #{$tablet-size} {

  .top-menu {
    height: 90px;
    border-bottom: 1px solid $color-top-menu-separator;
  }

  .top-menu__burger {
    display: none;
  }

  .top-menu__logo-link {
    flex: 1 0 150px;
    justify-content: flex-start;
    order: 1;
  }

}

@media #{$laptop-size} {


  .top-menu__logo-link {
    order: 2;
    flex: 1 0 20%;
    justify-content: center;
    height: 90px;
    margin: 0;
    display: flex;
    align-items: center;
  }

}
