.top-menu {
  position: relative;
  text-align: center;
  background: $color-bg-main;
}

.top-menu__logo-link {
  display: inline-block;
  margin: 20px 0;
  vertical-align: middle;
}

.top-menu__burger {
  position: absolute;
  top: 30px;
  right: calc(100% * 30 / 360);
  width: 22px;
  height: 22px;
  background-image: url('./../img/svg-icons/icon-menu-open.svg');
  background-repeat: no-repeat;

  &--close {
    background-image: url('./../img/svg-icons/icon-menu-close.svg');
  }
}

@media #{$tablet-size} {
  .top-menu {
    position: relative;
    padding-left: 50px;
    border: none;
    border-bottom: 1px solid $color-top-menu-separator;
    @include clerafix();
  }

  .top-menu__burger {
    display: none;
  }

  .top-menu__logo-link {
    position: relative;
    z-index: 10;
    float: left;
    margin: 23px 0;
    @include clerafix();
  }
}

@media #{$laptop-size-condition} {
}
