.user-block {
  position: relative;
  text-align: center;

  &--closed {
    display: none;
  }
}

.user-block__item {
  border-top: 1px solid $color-top-menu-separator;
  position: relative;
}

.user-block__link {
  font-family: $font-verdana;
  font-weight: bold;
  position: relative;
  display: block;
  padding: 28px 0 26px 0;
  color: $color-fnt-main;
  @include font($fnt-base-size, $line-h-base-size);
  min-height: 24px;
}

.user-block__text {
  position: absolute;
  left: 50%;
  top: 28px;
  transform: translateX(-86px);
  white-space: nowrap;
}

.user-block__icon-cart,
.user-block__icon-search {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 32px;
  left: 31px;
  opacity: .2;
}


@media #{$tabet-width} {
  .user-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    flex: 1 1 75%;
    order: 2;

    &--closed {
      // allways show
      display: flex;
    }
  }

  .user-block__item {
    border-top: none;
  }

  .user-block__item:hover .user-block__icon-search,
  .user-block__item:hover .user-block__icon-cart {
    fill: $color-fnt-alternative;
    opacity: 1;
  }

  .user-block__item:hover .user-block__text{
    opacity: 0.6;
  }

  .user-block__item:active .user-block__icon-search,
  .user-block__item:active .user-block__icon-cart,
  .user-block__item:active .user-block__text {
    opacity: 0.3;
  }

  .user-block__link {
    min-height: 34px;
    border-bottom: none;

    &--search {
      font-size: 0; // to hide text
      width: 84px;
      border-right: 1px solid $color-top-menu-separator;
      border-left: 1px solid $color-top-menu-separator;
    }

    &--cart {
      padding-right: 0px;
      // padding for cart icon
      width: 190px;
      padding-left: 75px;
      @include font(16px, 30px);
    }
  }

  .user-block__text {
    position: static;
  }

  .user-block__icon-cart {
    left: 32px;
    top: 34px;
    height: 19px;
  }

  .user-block__icon-search {
    left: 33px;
    top: 34px;
    height: 19px;
  }
}

@media #{$desktop-width} {
  .user-block {
    order: 3;
    flex: 0 0 35%;
  }
}
