.user-block {
  position: relative;
  background: $color-bg-main;
}

.user-block__item {
  border-top: 1px solid $color-top-menu-separator;
}

.user-block__link {
  font-family: $font-verdana;
  font-weight: bold;
  position: relative;
  display: block;
  padding: 34px 0 26px 0;
  color: $color-fnt-main;
  @include font($fnt-base-size, $line-h-base-size);

  &--cart {
    border-bottom: 1px solid $color-top-menu-separator;
  }
}

.user-block__icon-search,
.user-block__icon-cart {
  position: absolute;
  top: 30px;
  left: calc(100% * 30 / 360);
  opacity: .3;
}

@media #{$tablet-size} {
  .user-block {
    float: right;
    margin-right: 50px;
  }

  .user-block__item {
    border-top: none;
    @include block-align();
  }

  .user-block__link {
    min-height: 30px;
    border-bottom: none;

    &--search {
      font-size: 0; // to hide text
      min-width: 90px;
      border-right: 1px solid $color-top-menu-separator;
      border-left: 1px solid $color-top-menu-separator;
    }

    &--cart {
      padding-right: 50px;
      padding-left: 70px;
    }
  }
}

@media #{$laptop-size} {
  .user-block {
    float: right;
  }
}
